*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #201b2c;
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-login > h1{
    text-align: center;
    color: #77ffc0;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-login{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}